*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100vh; /* Adjust the size as needed */


    animation: move 60s cubic-bezier(0.4,0,0.2,1) infinite;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #ff5f6d, #ffc371, #ff51ff);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: background-position 0.3s;
}

@keyframes move {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

.glass{
	display: flex;
	flex-direction: column;
	padding: 3vh;
	border: 0.2vh solid rgba(20,20,20,0.1);
	border-radius: 5vh;
	box-shadow: 0.2vh 0.7vh 1vh rgba(35,35,35,0.7);
	backdrop-filter: blur(2vh);
	-webkit-backdrop-filter: blur(2vh);
	background: rgba(255, 255, 255, 0.3);
}

#x{
	position: absolute;
	left:25vh;
}
#y{
	position: absolute;
	left:75vh;
}

input[type="number"] {
    display: flex;
    margin-bottom: 1vh;
    text-align: center;
    padding: 1vh;
    height: 9vh;
    width: 10vh;
    border: 0.4vh solid #ccc;
    border-radius: 22vh;
    box-shadow: 0.2vh 0.5vh 1vh rgba(55,55,55,0.3);
    background-color: white;
    color: #333;
    font-size: 3vh;
    outline: none;
}

.cross{
    display: flex;
    position: absolute;
    left: 30vh;
    top: 45vh;
    font-size: 4.4vh;
    color: rgb(45,45,45);
    text-shadow: 0.15vh 0.25vh 0.5vh rgba(20,20,20,0.7);
}

button{
	display: flex;
	
	position: absolute;
	justify-content: center;
	align-items: center;
	
	left: 120vh; top: 45vh;
	height: 10vh; width: 10vh;
	
	font-size: 8vh;
    	text-shadow: 0.15vh 0.25vh 0.5vh rgba(20,20,20,0.7);
	box-shadow: 0.2vh 0.7vh 1vh rgba(35,35,35,0.6);
	
	
	color: white;
    
	background-image: linear-gradient(45deg,
	rgb(255, 148, 175),
	rgb(255, 199, 235),
    	rgb(166, 167, 255),
    	rgb(196, 232, 255));
	
	cursor: pointer;
	border: none;
	outline: 0.4vh solid;
	outline-color: rgb(255,255,255);
	border-radius: 6vh;	
	transition: transform 1.0s;
}

button:hover{
   transform: scale(1.1);
   transition: all 1s;
}

