*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.bg {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100vh; 


    animation: move 60s cubic-bezier(0.4,0,0.2,1) infinite;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #ff5f6d, #ffc371, #ff51ff);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    transition: background-position 0.3s;
}

@keyframes move {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

.head{
	display: flex;
	align-items: center;
	justify-content: center;
	top: 3vh;
	position: absolute;
	padding: 3vh;
	border: 0.2vh solid rgba(20,20,20,0.1);
	border-radius: 5vh;
	box-shadow: 0.2vh 0.7vh 1vh rgba(35,35,35,0.7);
    	background-image: radial-gradient(rgb(29, 28, 28),black);
	outline: 0.4vh solid;
	outline-color: rgb(255,255,255);
	color: white;
	width: 16vh;	
}

.t{
	display: flex;
	position: absolute;
	font-size: 2.5vh;
}

#left{left: 25vh;}
#right{left: 75vh;}
#resultHead{left:140vh; width: 31vh;}

.glass{
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 3vh;
	border: 0.2vh solid rgba(20,20,20,0.1);
	border-radius: 5vh;
	box-shadow: 0.2vh 0.7vh 1vh rgba(35,35,35,0.7);
	backdrop-filter: blur(2vh);
	-webkit-backdrop-filter: blur(2vh);
	background: rgba(255, 255, 255, 0.3);
}

#x{left:25vh;}
#y{left:75vh;}
#result{left: 140vh;}

input[type="number"] {
    display: flex;
    margin-bottom: 1vh;
    text-align: center;
    padding: 1vh;
    height: 9vh;
    width: 10vh;
    border: 0.4vh solid #ccc;
    border-radius: 22vh;
    box-shadow: 0.2vh 0.5vh 1vh rgba(55,55,55,0.3);
    background-color: white;
    color: #333;
    font-size: 3vh;
    outline: none;
}

.screen{
    display: flex;
    margin-bottom: 1vh;
    text-align: center;
    padding: 1vh;
    height: 9vh;
    width: 25vh;
    border: 0.4vh solid #ccc;
    border-radius: 22vh;
    box-shadow: 0.2vh 0.5vh 1vh rgba(55,55,55,0.3);
    background-color: white;
    color: #333;
    font-size: 3vh;
    outline: none;
}

.output{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	text-shadow: 0.10vh 0.25vh 0.5vh rgba(20,20,20,0.6);
	font-size: 3vh;

	animation: fadeIn linear 0.7s;
	transition: ease;
}

@keyframes fadeIn{
    0%{
    visibility: hidden;
    opacity: 0;}
}

.cross{
    display: flex;
    position: absolute;
    left: 55vh;
    top: 45vh;
    font-size: 4.4vh;
    color: rgb(45,45,45);
    text-shadow: 0.15vh 0.25vh 0.5vh rgba(20,20,20,0.7);
}

.bar{
	display: block;
	position: absolute;
	align-items: center;
	bottom: 0vh; height: 4.5vh; width: 100%;

	background-image: radial-gradient(rgb(29, 28, 28),black);
    	animation: move 60s cubic-bezier(0.4,0,0.2,1) infinite;
    	background-size: 200% 200%;
    	background-repeat: no-repeat;
    	background-position: 0% 0%;
    	transition: background-position 0.3s;
	
	box-shadow: 0 -1vh 1vh 0 rgba(35,35,35,0.4);
}


button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 110vh;
  top: 45vh;
  height: 10vh;
  width: 10vh;
  font-size: 8vh;
  text-shadow: 0.15vh 0.25vh 0.5vh rgba(20, 20, 20, 0.7);
  box-shadow: 0.2vh 0.7vh 1vh rgba(35, 35, 35, 0.6);
  color: white;
  background-image: linear-gradient(45deg, rgb(255, 148, 175), rgb(255, 199, 235), rgb(166, 167, 255), rgb(196, 232, 255));
  cursor: pointer;
  border: none;
  outline: 0.4vh solid;
  outline-color: rgb(255, 255, 255);
  border-radius: 6vh;
  transition: transform 1.0s;
  background-size: 200% 100%; 
  animation: move2 30s cubic-bezier(0.4,0,0.2,1) infinite;
}

#welcome{
	display: flex;
	width: 100%;
	position: absolute;
	color: rgb(255,0,60);
	justify-content: center;
	font-size: 3vh;	
	align-items: center;
	animation: flash 2s;
	opacity: 0;
	
}

button:hover{
   transform: scale(1.1);
   transition: all 1s;
}

button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6vh;
    opacity: 0;
}

button:focus::before {
    animation: popOut 0.5s;
}

@keyframes popOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes move2 {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }

  100%{
    background-position: 0% 0;
  }
}

@keyframes flash{
   0%{
	opacity: 0;
   }

   50%{
	opacity: 1;
   }
   100%{
	opacity: 0;
   }
}
